<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <h1>Práctica del Tema 2 - DIW</h1>
        <p>Bienvenido a mi sitio web en el cual aplicamos Accesibilidad</p>
    </header>
    <nav>
        <a href="/index.html">Inicio</a>
        <a href="/templates/acercaDe.html">Acerca de</a>
        <a href="/templates/contacto.html">Contacto</a>
    </nav>
    
    <div class="divText">
        <h2>LA ACCESIBILIDAD WEB</h2>
        <hr>
        <p>La accesibilidad web se refiere a la práctica de diseñar y desarrollar 
        sitios web y aplicaciones de manera que sean utilizables para todas 
        las personas, incluidas aquellas con discapacidades o limitaciones. El 
        objetivo de la accesibilidad web es asegurar que las personas con 
        discapacidad puedan comprender, navegar e interactuar de manera efectiva 
        con el contenido en línea. Esto implica eliminar barreras y proporcionar 
        una experiencia de usuario equivalente para todas las personas, 
        independientemente de sus habilidades o discapacidades.</p>
    </div>
    <footer>Correo electrónico: <br>adrianfernandez@tuniversformacion.com
        <br><br>Teléfono: 69696969
    </footer>
</body>
</html>