<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <h1>Práctica del Tema 2 - DIW</h1>
        <p>Bienvenido a mi sitio web en el cual aplicamos Accesibilidad</p>
    </header>
    <nav>
        <a href="/index.html">Inicio</a>
        <a href="/templates/acercaDe.html">Acerca de</a>
        <a href="/templates/contacto.html">Contacto</a>
    </nav>
    <img src="/assets/dosmingas.png" alt="dosmingas">
    <img src="/assets/fono.jpg" alt="El fono">
    <div class="divText">
        <p>Determinación, seguridad, agilidad, reflejos... Pensar y actuar en el 
            momento preciso. No son pocas las cualidades que debe tener un buen 
            guardameta. Defender la portería no es tarea sencilla y la comunicación 
            es esencial: “como jugador he de saber mandar bastante bien, porque un 
            portero tiene que organizar su defensa correctamente”. Y desde luego 
            tiene toda la razón. Qué mejores ojos para ver desde su posición todo 
            lo que ocurre en el terreno de juego. “Yo creo que soy un portero que 
            tiene bastante altura y en el juego aéreo va bastante bien. Pero hay 
            que seguir mejorando muchas cosas aún” apunta Alfonso. Y no nos cabe 
            duda que seguirá creciendo en el terreno de juego.</p>
    </div>
    <footer>Correo electrónico: <br>adrianfernandez@tuniversformacion.com
        <br><br>Teléfono: 69696969
    </footer>
</body>
</html>